<div class="container">


<center> <h1> SMART SHOP</h1></center>

<center> <h1> Login</h1></center>
   <hr>
   <form id="form">
     


   <label for="Email id"><b>Email ID :    </b></label>
   <input type="text" placeholder="Enter Your Email ID" name="email id"  required><br>

   


   <label for="psw"><b>Password : </b></label>
   <input type="password" placeholder="Enter Your Password" name="psw" required
   ><br>
   <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div><br>

   <a href="homepage.html "><input type="submit" name="Signup" id = "button" value="Login"></a>

   <p>Create a new account <a href="src\app\registration\registration.component.html">Register here</a></p>
  </form>
 </div>