
<div class="container">

    
    
    <center> <title>SMART SHOP</title></center>
 
 <center> <h1>SMART SHOP</h1></center>
 <center><h1> REGISTRATION</h1></center>
     <hr>
     <form id="form">
 <label for="FirstName"><b>First Name:    </b></label>
         <input type="FirstName" placeholder="Enter Your FirstName" name="FirstName" required><br>
 
         <label for="LastName"><b>Last Name:  </b></label>
         <input type="LastName" placeholder="Enter Your LastName" name="LastName" required><br>
 
         <label for="dob"><b>Date Of Birth:  </b></label>
         <input type="date" name="dob" id="dob" required><br>
 
         <label for="Gender"><b>Gender:  </b></label>
         <input type="radio" name="Gender" value="Male">Male 
         <input type="radio" name="Gender" value="Female">Female 
         <input type="radio" name="Gender" value="Transgender">Transgender <br>
 
         <label for="Contact Number"><b>Contact Number:  </b></label>
         <input type="Contact number" name="Contact Number" placeholder="Enter Your Contact Number" required><br>
 
 
      <label for="Email id"><b>Email ID :    </b></label>
      <input type="text" placeholder="Enter Your Email ID" name="email id" required><br>
 
      <label for="User id"><b>User ID :    </b></label>
      <input type="text" placeholder="Enter Your user ID" name="User id" required><br>
 
      
 
  
      <label for="psw"><b>Password : </b></label>
      <input type="text" placeholder="Enter Your Password" name="psw" required
      ><br>
 
      
      <p><input type="submit" name="Signup" id = "button"value="Register"></p>
     <p>Already Registered <a href="src\app\login\login.component.html">Login here</a></p>
     </form>
    </div>
 